pydantic-ai
groq
python-telegram-bot[job-queue]
tweepy
python-dotenv
loguru
pytz
fastapi
uvicorn
jinja2
ddgs

nest-asyncio
asyncio
logfire

logfire[fastapi]

langchain-community 
wikipedia
pydantic-ai-slim[tavily]